.pagination {
    display: flex;
    width: 100%;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.pageNumber,
.arrow {
    padding: 8px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.pageNumber {
    padding: 8px;
}

.pageNumber:disabled,
.arrow:disabled {
    cursor: default;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination.dark .pageNumber,
.pagination.dark .arrow {
    background-color: #23272f;
    color: #f6f7f9;
}

.pagination.light .pageNumber,
.pagination.light .arrow {
    background-color: white;
    color: black;
}