.item {
    display: flex;
    width: 100%;
    gap: 24px;
}

.title {
    font-size: 14px;
    font-weight: 700;
    color: #090A0A;
}

.date {
    font-size: 12px;
    font-weight: 400;
    color: #6C7072;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.wrapper {
    width: 64px;
    height: 64px;
    background-color: #f2f4f5;
    background-position: center;
    background-size: cover;
    flex-shrink: 0;
}