.categories {
    display: flex;
    width: 100%;
    gap: 18px;
    align-items: flex-start;
    box-sizing: border-box;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

.item,
.active {
    height: 32px;
    display: flex;
    align-items: center;
    border-radius: 32px;
    padding: 8px, 16px;
    background-color: #F2F4F5;
    border: none;
}

.active {
    background-color: #E7E7FF;
    color: #6B4EFF;
}

::-webkit-scrollbar {
    display: none;
}