.header {
    display: flex;
    width: 100%;
    padding: 12px 24px;
    flex-direction: column;
    gap: 12px;
    background-color: white;
    border-bottom: 1px solid #F2F4F5;
}

.title {
    font-size: 32px;
    font-weight: 700;
    color: #090A0A;
}

.date {
    font-size: 16px;
    font-weight: 400;
    color: #090A0A;
}