.header {
    display: flex;
    width: 100%;
    padding: 12px 24px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #F2F4F5;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.image {
    cursor: pointer;
}

.title {
    font-size: 32px;
    font-weight: 700;
    color: #090A0A;
}

.date {
    font-size: 16px;
    font-weight: 400;
    color: #090A0A;
}

.dark {
    background-color: #23272f;
    border-bottom: 1px solid rgb(60, 60, 60);
}

.light {
    background-color: white;
}