.search {
    display: flex;
    width: 100%;
    background-color: white;
    gap: 12px;
}

.input {
    width: 100%;
    padding: 6px 10px;
    border: 1px solid black;
    border-radius: 12px;
}

.dark {
    background-color: #23272f;
}

.light {
    background-color: white;
}